@charset "UTF-8";

body {
    background-color: #212121;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #eeeeee;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
}

h2 {
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    margin-top: -20px;
}

h3 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}

p {
    font-size: 15px;
    margin-top: 5px;
}

ul, li {
    font-size: 15px;
    margin-top: 10px;
}

a {
    font-size: 15px;
    color: #0077ff;
    text-decoration: none;
}

strong {
    font-style: italic;
    font-weight: bolder;
}

.paragrafo-resumo {
    text-indent: 25px;
    text-align: justify;
}

.principal {
    max-width: 800px;
    width: 80%;
    padding: 30px;
    margin: 35px auto;
}