@charset "UTF-8";

body {
  background-color: #FAFAFA;
  color:#050505; 
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight (300 800);
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

.eoforstudios{
  color: #5aade9;
}

.eoforanimation{
  color: #e16b45;
}

.eoformusic{
  color: #ad8062;
}

.logo-container img {
  max-width: 250px;
  height: auto;
  margin-top: 20px;
}

.descricao {
  max-width: 350px;
  margin: 10px auto;
  font-size: 20px auto;
  line-height: 1.5;
  text-align: justify;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 15px 0;
}

.socials img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.socials img:hover {
  transform: scale(1.1);
}

.emails {
  margin-bottom: 20px;
  font-size: 14px;
}

.emails a {
  color: #e16b45;
  text-decoration: none;
  font-weight: bold;
}

.emails a:hover {
  color: #5aade9;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  overflow: hidden;
  margin-bottom: 20px;
}

.logo {
  max-width: 80px;
  height: auto;
  opacity: 0;
  position: relative;
}

.logo.left {
  z-index: 2;
  animation: logoLeft 2.5s ease forwards;
}

.logo.right {
  z-index: 1;
  animation: logoRight 3s ease forwards;
}

@keyframes logoRight {
  from {
    transform: translateX(-140px) scale(1);
    opacity: 1;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes logoLeft {
  from {
    transform: translateX(130px);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes studiosFade {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.logo-wrapper {
  position: relative;
  width: 140px;
  height: auto;
}

.logo-wrapper .logo {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 140px;
  transition: opacity 0.4s ease;
}

.logo-wrapper .bw {
  opacity: 1;
  z-index: 2;
}

.logo-wrapper .color {
  opacity: 0;
  z-index: 3;
}

.logo-wrapper:hover .bw {
  opacity: 0;
}

.logo-wrapper:hover .color {
  opacity: 1;
}