@charset "UTF-8";

*{
  text-align: justify;
  justify-items: center;
  justify-content: center;
}

body {
  background-color: #FAFAFA;
  color: #050505;
  font-family: "Open Sans", sans-serif;
}

main {
  max-width: 500px;
  margin-top: 100px;
  padding: 20px auto;
  font-family: "Funnel Display", sans-serif;
}

/* LOGO EM MOVIMENTO: */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100% auto;
}

.logo {
  width: auto;
  height: auto;
  max-width: 150px;
  margin-bottom: -20px;
}

.logo.left { z-index: 2; animation: logoLeft 1.5s ease forwards; }
.logo.right { z-index: 1; animation: logoRight 1.5s ease forwards; }

@keyframes logoRight {
  from { transform: translateX(-50px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes logoLeft {
  from { transform: translateX(50px); opacity: 1; }
  to { transform: translateX(0); opacity: 1; }
}

/* DESCRIÇÃO: */
.descricao {
  max-width: 100%;
  width: 100% auto;
  margin: 20px auto;
  font-size: 15px auto;
  padding: 25px;
  font-weight: 400;
}

strong {font-weight: bold;}

.descricao a {text-decoration: none;}

.eoforstudios a {color: #3b8bc4;}
.eoforanimation a {color: #e16b45;}
.eoformusic a {color: #cc8b60;}

.eoforstudios a:hover {color: #15517c;}
.eoforanimation a:hover {color: #e7b100;}
.eoformusic a:hover {color: #8d5c3d;}

/* REDES SOCIAIS: */
.social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: -20px;
  flex-wrap: wrap;
}

.social img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.social img:hover {transform: scale(1.5);}

/* EMAIL DE CONTATO: */
.email {
  text-align: center;
  margin-top: 30px;
}

.email a {
  color: #e16b45;
  font-weight: bold;
  text-decoration: none;
}

.email a:hover { color: #5aade9; }

/* RODAPÉ: */
footer {
  text-align: center;
  font-size: 12px;
  color: #888888;
  margin-top: 120px;
}

footer p {
  margin: 0;
}